
    <div class="header"><h3><i class="fa fa-newspaper-o"></i> Manage Events <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">+
</button></h3></div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Event</h4>
      </div>
      <form id="eventForm" ng-submit="addEvent(event, picture)">
      <div class="modal-body">
         
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Title</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="event.title" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="event.description" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label">Venue</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" ng-model="event.venue" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-datetime-local-input" class="col-xs-2 col-form-label">Date and time</label>
            <div class="col-xs-10">
                <input class="form-control" type="datetime-local" ng-model="event.date" id="example-datetime-local-input">
            </div>
        </div>
<div class="form-group row">
      <label for="example-password-input" class="col-xs-2 col-form-label">Event Type</label>
      <div class="col-xs-10">
        <select class="form-control" ng-model="event.type">
 
  <option value="1">Sports</option>
  <option value="2">Education</option>
  <option value="3">Music</option>
</select>
    
      </div>
    </div>
        <div class="form-group row">
            <label for="example-tel-input" class="col-xs-2 col-form-label">Telephone</label>
            <div class="col-xs-10">
                <input class="form-control" type="tel" ng-model="event.Telephone" id="example-tel-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-xs-2 col-form-label">URL</label>
            <div class="col-xs-10">
                <input class="form-control" type="url" ng-model="event.url" id="example-url-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
            <div class="col-xs-10">
                <input class="form-control" type="email" ng-model="event.email" id="example-email-input">
            </div>
        </div>

        <div class="form-group row">

        
            <label class="btn btn-default">Attach Picture</label>
      <input type="file" ngf-select ng-model="picture" name="file"    
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile" style="display: none;">
           
            <i ng-show="profilePicForm.file.$error.required">*required</i><br>
            <i ng-show="profilePicForm.file.$error.maxSize">File too large 
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="profilePicForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button class="btn btn-default"
                ng-click="picFile == null" ng-show="picFile">Remove</button>
            <br>
           
            <progressbar ng-show="picFile.progress >= 0" animate="false" value="picFile.progress" type="success"><b>{{picFile.progress}}%</b></progressbar>

            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit">Add Event</button>
      </div>
       </form>
    </div>
  </div>
</div>

<table class="table table-striped">
 <caption>All System Users</caption>
    <thead>
    <tr>
      <th>Date</th>
      <th>title</th>
      <th>Detail</th>
      <th>Actions</th>
    </tr>
    </thead>
  <tbody>
    <tr  ng-repeat="(id, event) in events | filter:search ">
     <td>
        <!-- editable username (text with validation) -->
        <span editable-text="event.date" e-name="date" e-form="rowform">
          {{ (event.date | date) || 'None' }}
        </span>
      </td>
       <td>
        <!-- editable username (text with validation) -->
        <span editable-text="event.title" e-name="title" e-form="rowform">
          {{event.title || 'None' }}
        </span>
      </td>
      <td>
        <!-- editable username (text with validation) -->
        <span editable-text="event.description" e-name="description" e-form="rowform">
          {{event.description || 'None' }}
        </span>
      </td>
 
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="saveEvent($data, event._id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == event">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
          <button type="button" class="btn btn-danger" ng-click="removeEvent($index)">del</button>
        </div>  
      </td>
    </tr>
    </tbody>
  </table>




   

